.container {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.innerContainer {
    position: absolute;
    width: 100%;
}

.label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    transition: all 0.2s;
}

.container:hover .icon {
    opacity: 1;
}

.container:hover .innerContainer {
    width: 105%;
    height: 105%;
}

.container:hover .label {
    overflow: visible;
    font-size: 105%;
}

.iconContainer {
    position: relative;
    display: inline;
    width: 100%;
}

.thumbnail {
    max-width: 50%;
    height: auto;
    position: absolute;
    top: 60%;
    left: 63%;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
}

.icon {
    height: auto;
    max-width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
