{
    "extends": ["airbnb", "prettier", "prettier/react", "prettier/standard"],
    "env": {
        "browser": true,
        "node": true,
        "mocha": true
    },
    "parser": "babel-eslint",
    "rules": {
        "arrow-parens": 0,
        "camelcase": 0,
        "class-methods-use-this": 0,
        "comma-dangle": 0,
        "function-paren-newline": 0,
        "global-require": 0,
        "id-length": 0,
        "import/default": 0,
        "import/named": 0,
        "import/namespace": 0,
        "import/no-cycle": 0,
        "import/no-duplicates": 0,
        "import/no-dynamic-require": 0,
        "import/no-named-as-default": 2,
        "import/no-unresolved": 0,
        "import/prefer-default-export": 0,
        "indent": [0, 4, { "SwitchCase": 1 }],
        "jsx-a11y/anchor-is-valid": 0,
        "jsx-a11y/click-events-have-key-events": 0,
        "jsx-a11y/label-has-for": 0,
        "jsx-a11y/no-noninteractive-element-interactions": 0,
        "jsx-a11y/no-static-element-interactions": 0,
        "new-cap": 0,
        "no-alert": 0,
        "no-console": 0,
        "no-extra-boolean-cast": 0,
        "no-param-reassign": 0,
        "no-plusplus": 0,
        "no-trailing-spaces": 0,
        "no-underscore-dangle": 0,
        "no-unused-vars": [2, { "args": "none", "vars": "all" }],
        "object-curly-newline": 0,
        "padded-blocks": [0, "never"],
        "react/forbid-prop-types": [
            1,
            { "checkChildContextTypes": true, "checkContextTypes": true, "forbid": ["any"] }
        ],
        "react/jsx-filename-extension": 0,
        "react/jsx-indent": 0,
        "react/jsx-indent-props": 0,
        "react/no-did-mount-set-state": 0,
        "react/no-multi-comp": 0,
        "react/no-this-in-sfc": 2,
        "react/require-default-props": 0,
        "react/style-prop-object": 0,
        "spaced-comment": [0, "never"],
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn"
    },
    "plugins": ["react", "import", "react-hooks"],
    "settings": {
        "import/parser": "babel-eslint",
        "import/resolve": {
            "moduleDirectory": ["node_modules", "src"]
        }
    },
    "overrides": [
        {
            "files": ["src/**/*stories.js"],
            "excludedFiles": "*.test.js",
            "rules": {
                "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
            }
        }
    ],
    "globals": {
        "__IS_PROD__": true,
        "socket": true
    }
}
