.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    color: #0c89c6;
    height: 30px;
    background-color: white;
    cursor: pointer;
    margin-left: 5px;
    font-size: 0.9em;
    border-radius: 3px;
}

.button:hover {
    box-shadow: 0 0 5px grey;
}

.buttonBar {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.input {
    width: 100%;
}

.confirm {
    background-color: #0c89c6;
    color: white;
    font-weight: 500;
}
