.container {
    display: flex;
    top: 0;
    bottom: 0;
    padding-bottom: 50px;
    width: 33vw;
    right: -33vw;
    position: fixed;
    background-color:#f7f7f7;
    /* box-shadow: -1px 0 3px #0c89c6; */
    transition: right 0.3s;
    flex-direction: column;
    z-index: 2;
    border: solid #aaa 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-right: 1px;
}

.closeButton {
    height: 50px;
    width: 50px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.head {
    display: flex;
    align-items: center;
}

.name {
    font-weight: bold;
    margin-left: 20px;
    font-size: 1.2em;
    color: #555;
    margin-bottom: 0;
}

.job {
    font-weight: 400;
    margin-left: 20px;
    font-size: 1.1em;
    color: #aaa;
    margin-bottom: 0;
}

.section {
    margin: 0 3px;
    width: 100%;
    padding: 0 40 0 20px;
    background-color: white;
    padding: 20px 30px;
    display: flex;
    border-right: 1px;
}

.container.active {
    right: 0;
}

.editIcon {
    position: relative;
    width: 100px;
    height: 100px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 6px white;
}

.profilePicture {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: relative;
}

.pictureChange{
    padding-top: 100px;
    width: 100px;
    color: #0c89c6;
    font-size: .6em;
    text-align: center;
}

.addButton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #0c89c6;
    height: 50px;
    border: 1px solid #0c89c6;
    border-right: 1px;
    border-bottom: 0px;
    bottom: 1px;
    background-color: white;
    right: 1px;
    cursor: pointer;
}

.addButton:hover {
    background-color: #0c89c6;
    color: white;
}

@media (max-width: 700px) {
    .container {
        width: 100vw;
        right: -100vw;
    }
}

@media (max-width: 1280px) and (min-width: 700px) {
    .container {
        width: 40vw;
        right: -40vw;
    }
}
