.fileList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
    padding: 0;
}

.file {
    margin: 0 10px;
}

.file p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font-size: 0.8em;
}

.file:hover {
    cursor: pointer;
    opacity: 0.6;
}

.iconContainer {
    position: relative;
    display: inline;
    max-width: 95%;
}

.thumbnail {
    max-width: 50%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.fileIcon {
    height: auto;
    max-width: 100%;
}
