.fileList {
  list-style-type: none;
  padding: 0;
}

.file {
  font-size: 1em;
  margin: 0 0 1% 0;
  padding: 1%;
  border: solid #aaa 1px;
  border-radius: 5px;
}

.fileIcon {
  height: auto;
  width: 20%;
}

.file p{
  display: inline;
}

@media (min-width: 415px) {
  .file{
    font-size: 1em;
  }
}

@media (max-width: 415px) {
  .file{
    font-size: 1.5em;
  }
}
