.buttonContainer {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 80px;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.icon {
    height: 80px;
    width: 80px;
    bottom: 0;
    transition: position 0.3s;
    position: absolute;
}

.icon:hover {
    cursor: pointer;
    opacity: 1;
}

.toggleButton {
    z-index: 1;
}

.expanded {
    bottom: initial;
    position: initial;
}

@media (max-width: 380px) {
    .buttonContainer {
        bottom: 15px;
        right: 15px;
    }

    .icon {
        height: 60px;
        width: 60px;
    }
}
