.buttonContainer {
    position: fixed;
    display: flex;
    bottom: 40px;
    right: 40px;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0.9;
}

.icon {
    height: 80px;
    width: 80px;
    opacity: 0.7;
    bottom: 0;
}

.icon:hover {
    cursor: pointer;
    opacity: 1;
}

.toggleButton {
    z-index: 1;
}

.expanded {
}

@media (max-width: 380px) {
    .buttonContainer {
        bottom: 15px;
        right: 15px;
    }

    .icon {
        height: 60px;
        width: 60px;
    }
}
