.folderList {
    padding: 0;
    color: blue;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
}

.folder {
    margin: 0 10px;
}

.folder:hover {
    cursor: pointer;
    opacity: 0.6;
}

.folder p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.folderIcon {
    width: 100%;
}
