.folderList {
  padding: 0;
  color: blue;
  list-style-type: none;
}

.folder {
  display: inline-block;
  max-width: 20%;
  margin: 0 0 1% 1%;
  padding: 1%;
  /* border: solid #aaa 1px; */
  border-radius: 5px;
  z-index: 1;
}

.folder p {
  margin-left: 3%;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

@media (max-width: 415px) {
  .folder p {
    font-size: 1.5em;
  }
}

@media (min-width: 415px) {
  .folder p {
    font-size: 1em;
  }
}

.folderIcon {
  height: auto;
  width: 100%;
}
