.header{
    margin-top: 15%;
}

.slogan {
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: #333;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-animation: fadeinSlogan 25s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeinSlogan 25s; /* Firefox < 16 */
    -ms-animation: fadeinSlogan 25s; /* Internet Explorer */
    -o-animation: fadeinSlogan 25s; /* Opera < 12.1 */
    animation: fadeinSlogan 25s;
}

.mission {
    max-width: 100%;
    text-align: center;
    font-size: 3em;
    color: #333;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-animation: fadeinMission 10s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeinMission 10s; /* Firefox < 16 */
    -ms-animation: fadeinMission 10s; /* Internet Explorer */
    -o-animation: fadeinMission 10s; /* Opera < 12.1 */
    animation: fadeinMission 10s;
}

@keyframes fadeinSlogan {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadeinSlogan {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinSlogan {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadeinSlogan {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadeinSlogan {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
}

@keyframes fadeinMission {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadeinMission {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinMission {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadeinMission {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadeinMission {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
